
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div id=vid-section>
     <video id="bgvideo" preload="auto" autoplay="true" loop="loop" muted="muted">
      <source src="video/manta.mp4" type="video/mp4">
      video not supported
    </video>
  </div>
   



</body>
</html>



