// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: red;
}

#vid-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  width: auto;
  hight: auto;
  
}

#bgvideo {
  min-width: 100%;
  min_height: 100%;
  
  margin: 0;
  padding: 0;

}